.header {
  --padding: min(70px, calc(30px + (70 - 30) * var(--t)));
  padding: 0 var(--padding);
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__link {
  display: block;
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 0;
}

.header__link.active {
  border-bottom: 2px solid var(--color-text);
}

.header__link.active:hover {
  border-bottom-color: var(--color-elements);
}

.header__link_saved-films {
  font-weight: 400;
}

.header__account-link {
  margin-left: 30px;
}

.header__burger {
  display: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  background: url(./header__burger.svg) no-repeat;
}



@media screen and (max-width: 768px) {
  .header {
    --padding: calc(14px + (30 - 14) * var(--t));
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }
}
